body {
  background-color: #303030;
  margin: 0;
  color: white;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#game {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  aspect-ratio: 1/1;
  width: 90vmin;
  max-height: 90vh;
  margin: auto;
  background-color: #ddd;
  border: 2px solid #333;
}

.cell {
  background-color: #222;
  border: 1px solid #333;
}

button {
  box-sizing: border-box;
  padding: 20px; 
  background-color: lightblue;
  border: none;
}
button:hover {
  background-color: red;
  cursor: pointer;
}
button:disabled {
  background-color: #85a6b3;
}

.replaceBoat {
  background-color: red;
  color: white;
}
.replaceBoat:hover {
  background-color: darkred;
}

.startButtonContainer {
  display: none;
}

#startButton {
  background-color: red;
  color: white;
}
#startButton:hover {
  background-color: darkred;
}
